:root {
    background-color: #202020;
    --header-size: 70px;
}

header {
    width: 100vw;
    height: var(--header-size);
    left: 0;
    top: 0;
    position: fixed;
    background-color: #303030;
    align-items: center;
    text-align: center;
    display: grid;
}

body {
    width: 80vw;
    left: 10vw;
    top: var(--header-size);
    position: fixed;
    background-color: #282828;
    margin: 2% 0 0 0;
    padding: 0;
}

h1, h2, p, td {
    color: white;
}

h1 {
    padding: 0;
    margin: 0;
}

h2 {
    padding: 1px 0 0 15px;
}

#tabella {
    margin: 0 0 10px 10px;
    width: 100%;
}

td {
    text-align: center;
}

.pari {
    
}

.dispari {

}