body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: #222222;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

table {
    width: 80%;
    height: 10em;
    margin: 0;
    border-collapse: collapse;
    left: 10%;
    position: relative;
}

td {
    background-color: yellowgreen;
    border: 3px solid black;
    margin: 0;
}

td.name, tr.top td {
    background-color: orange;
    font-weight: bold;
}

#empty {
    border: 0;
    background-color: transparent;
}